LOGGING_LEVEL="INFO,WARNING,ERROR,DEBUG"
PATROWL_PROXY_HTTP=""
PATROWL_PROXY_HTTPS=""
SECRET_KEY="Omg this is the secret super secret. Yeah"
DB_ENV_DB="{{ patrowlhears_dbname }}"
DB_ENV_POSTGRES_USER="{{ patrowlhears_dbuser }}"
DB_ENV_POSTGRES_PASSWORD="{{ patrowlhears_dbuser_pw }}"
DB_PORT_5432_TCP_HOST="{{patrowlhears_dbhost}}"
DB_PORT_5432_TCP_PORT="{{patrowlhears_dbport}}"
RABBIT_PORT_5672_TCP="{{ patrowlhears_rabbit_hostname }}"
BROKER_URL="amqp://{{ patrowlhears_rabbit_env_user }}:{{ patrowlhears_rabbit_env_pass }}@{{ patrowlhears_rabbit_hostname }}/{{ patrowlhears_rabbit_env_vhost }}/"
EMAIL_USE_TLS="{{patrowlhears_email_use_tls}}"
EMAIL_HOST="{{patrowlhears_email_host}}"
EMAIL_HOST_USER="{{patrowlhears_email_host_user}}"
EMAIL_HOST_PASSWORD="{{patrowlhears_email_host_passwd}}"
EMAIL_PORT={{patrowlhears_email_port}}
DEFAULT_FROM_EMAIL="{{patrowlhears_default_from_email}}"
EMAIL_RCPT_USER="nicolas.mattiocco+feeds@gmail.com"
BASE_URL="{{patrowlhears_base_url}}"
GUNICORN_CMD_ARGS="-b 0.0.0.0:8303"
APP_DEBUG="False"
HEARS_DATASYNC_MODE="{{patrowlhears_datasync_mode}}"
HEARS_DATASYNC_URL="{{patrowlhears_datasync_url}}"
HEARS_DATASYNC_LOGIN="{{patrowlhears_datasync_login}}"
HEARS_DATASYNC_PASSWORD="{{patrowlhears_datasync_password}}"
HEARS_DATASYNC_FREQUENCY="{{patrowlhears_datasync_frequency}}"
HEARS_DATASYNC_ENABLED="{{patrowlhears_datasync_enabled}}"
